<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Toppik\Adminhtml\Model\ResourceModel\Order\Grid\Collection" type="Hunters\GenderToppik\Model\ResourceModel\Order\Grid\Collection" />
</config>
